In [1]:
import sys
sys.path.insert(0, '..')
from assignment4.train import *
from assignment4.utils import get_seqs_from_file

In [2]:
emmisionP = pd.DataFrame([ [0.25]*4, 
                            [0.2,0.3,0.3,0.2] ], 
                            index = ['State 1','State 2'], columns = list('ACGT'))
transitionP = pd.DataFrame([[0.9999, 0.0001],
                            [0.9999,0.0001], 
                            [0.01, 0.99]], 
                            columns = ['State 1','State 2'], index = ['Begin','State 1','State 2'])

sequence_all = get_seqs_from_file('../data/GCF_000091665.1_ASM9166v1_genomic.fna')[0]

k = 10

pseudo_count = 0.1

In [3]:
print(f'Length of the DNA is {len(sequence_all)}')
print(sequence_all[:50], '.....', sequence_all[-50:])

Length of the DNA is 1664970
TACATTAGTGTTTATTACATTGAGAAACTTTATAATTAAAAAAGATTCAT ..... ATAATTTACGTTGCTAATTTTATTATCCGTAGGGCATTAATAATTAGAGC

In [11]:
sequence = sequence_all

In [13]:
total_iter = 10

import time

start = time.time()

trainer = ViterbiTrain(sequence, emmisionP, transitionP, 'Begin', pseudo_count, debug = False)

for i in range(total_iter + 1):
    print(f'\n\n************** Iteration {i} ************')
    print('_______________________________________\n')
    
    start_viterbi = time.time()
    path, v_all = trainer.expectation()
    end_viterbi = time.time()
    print(f'\n***Viterbi time iteration {i} = {end_viterbi-start_viterbi} seconds')
    
#     print(f'{time.time()} macpath + traceback finished')
    
    trainer.viterbi.print(v_all, hit_state = 'State 2', path = path.copy(), k = 10 if i <10 else 0)
    
#     print(f'{time.time()} print finished')
    
    if i < total_iter:
        trainer.maximization(path)
#     print(f'{time.time()} maximization finished')
end = time.time()
print(f'Total time taken = {end-start} seconds')

************** Iteration 0 ************
_______________________________________


***Viterbi time iteration 0 = 11.88455581665039 seconds
Emission Probability

            A     C     G     T
State 1  0.25  0.25  0.25  0.25
State 2  0.20  0.30  0.30  0.20

Transition Probability

         State 1  State 2
Begin     0.9999   0.0001
State 1   0.9999   0.0001
State 2   0.0100   0.9900

Log probability of viterbi path=  -2308117.25052
Path = ['State 1', 'State 1', 'State 1', 'State 1', 'State 1']..['State 1', 'State 1', 'State 1', 'State 1', 'State 1']

hits

     state   start     end  length
1  State 2  154651  159579    4929
2  State 2  638464  643447    4984

1605991136.5335698finished count freq calculation


************** Iteration 1 ************
_______________________________________


***Viterbi time iteration 1 = 11.730175256729126 seconds
Emission Probability

                A         C         G         T
State 1  0.345353  0.154403  0.157978  0.342266
State 2  0.186626  0.314635  0.313828  0.184911

Transition Probability

          State 1   State 2
Begin    0.999900  0.000100
State 1  0.999999  0.000001
State 2  0.000212  0.999788

Log probability of viterbi path=  -2188056.06471
Path = ['State 1', 'State 1', 'State 1', 'State 1', 'State 1']..['State 1', 'State 1', 'State 1', 'State 1', 'State 1']

hits

      state   start     end  length
1   State 2   97326   97541     216
2   State 2   97627   97823     197
3   State 2  111764  111856      93
4   State 2  138345  138419      75
5   State 2  154610  159591    4982
6   State 2  186974  187067      94
7   State 2  190831  190907      77
8   State 2  215200  215296      97
9   State 2  303990  304080      91
10  State 2  358766  358942     177

1605991148.8430133finished count freq calculation


************** Iteration 2 ************
_______________________________________


***Viterbi time iteration 2 = 12.744954586029053 seconds
Emission Probability

                A         C         G         T
State 1  0.345743  0.154033  0.157588  0.342635
State 2  0.187626  0.310809  0.313583  0.187982

Transition Probability

          State 1   State 2
Begin    0.999900  0.000100
State 1  0.999986  0.000014
State 2  0.001643  0.998357

Log probability of viterbi path=  -2187965.99812
Path = ['State 1', 'State 1', 'State 1', 'State 1', 'State 1']..['State 1', 'State 1', 'State 1', 'State 1', 'State 1']

hits

      state   start     end  length
1   State 2   97326   97541     216
2   State 2   97627   97823     197
3   State 2  111764  111856      93
4   State 2  118079  118179     101
5   State 2  138345  138419      75
6   State 2  154610  157697    3088
7   State 2  157782  159591    1810
8   State 2  186974  187067      94
9   State 2  190831  190907      77
10  State 2  215200  215296      97

1605991162.1752706finished count freq calculation


************** Iteration 3 ************
_______________________________________


***Viterbi time iteration 3 = 11.578189134597778 seconds
Emission Probability

                A         C         G         T
State 1  0.345818  0.153956  0.157513  0.342713
State 2  0.184941  0.313826  0.316361  0.184872

Transition Probability

          State 1   State 2
Begin    0.999900  0.000100
State 1  0.999979  0.000021
State 2  0.002337  0.997663

Log probability of viterbi path=  -2187960.60601
Path = ['State 1', 'State 1', 'State 1', 'State 1', 'State 1']..['State 1', 'State 1', 'State 1', 'State 1', 'State 1']

hits

      state   start     end  length
1   State 2   97326   97541     216
2   State 2   97627   97823     197
3   State 2  111764  111856      93
4   State 2  118079  118179     101
5   State 2  138345  138419      75
6   State 2  154610  157697    3088
7   State 2  157782  159591    1810
8   State 2  186974  187067      94
9   State 2  190831  190907      77
10  State 2  215200  215296      97

1605991174.365078finished count freq calculation


************** Iteration 4 ************
_______________________________________


***Viterbi time iteration 4 = 11.445410966873169 seconds
Emission Probability

                A         C         G         T
State 1  0.345824  0.153951  0.157502  0.342723
State 2  0.185215  0.313457  0.316727  0.184601

Transition Probability

          State 1   State 2
Begin    0.999900  0.000100
State 1  0.999979  0.000021
State 2  0.002392  0.997608

Log probability of viterbi path=  -2187960.5684
Path = ['State 1', 'State 1', 'State 1', 'State 1', 'State 1']..['State 1', 'State 1', 'State 1', 'State 1', 'State 1']

hits

      state   start     end  length
1   State 2   97326   97541     216
2   State 2   97627   97823     197
3   State 2  111764  111856      93
4   State 2  118079  118179     101
5   State 2  138345  138419      75
6   State 2  154610  157697    3088
7   State 2  157782  159591    1810
8   State 2  186974  187067      94
9   State 2  190831  190907      77
10  State 2  215200  215296      97

1605991186.4589705finished count freq calculation


************** Iteration 5 ************
_______________________________________


***Viterbi time iteration 5 = 11.973670959472656 seconds
Emission Probability

                A         C        G         T
State 1  0.345829  0.153953  0.15749  0.342728
State 2  0.184887  0.312970  0.31780  0.184343

Transition Probability

          State 1   State 2
Begin    0.999900  0.000100
State 1  0.999978  0.000022
State 2  0.002456  0.997544

Log probability of viterbi path=  -2187960.50709
Path = ['State 1', 'State 1', 'State 1', 'State 1', 'State 1']..['State 1', 'State 1', 'State 1', 'State 1', 'State 1']

hits

      state   start     end  length
1   State 2   97326   97541     216
2   State 2   97627   97823     197
3   State 2  111764  111856      93
4   State 2  118079  118179     101
5   State 2  138345  138419      75
6   State 2  154610  157697    3088
7   State 2  157782  159591    1810
8   State 2  186974  187067      94
9   State 2  190831  190907      77
10  State 2  215200  215296      97

1605991199.0450938finished count freq calculation


************** Iteration 6 ************
_______________________________________


***Viterbi time iteration 6 = 11.32033634185791 seconds
Emission Probability

                A         C        G         T
State 1  0.345829  0.153953  0.15749  0.342728
State 2  0.184887  0.312970  0.31780  0.184343

Transition Probability

          State 1   State 2
Begin    0.999900  0.000100
State 1  0.999978  0.000022
State 2  0.002456  0.997544

Log probability of viterbi path=  -2187960.50709
Path = ['State 1', 'State 1', 'State 1', 'State 1', 'State 1']..['State 1', 'State 1', 'State 1', 'State 1', 'State 1']

hits

      state   start     end  length
1   State 2   97326   97541     216
2   State 2   97627   97823     197
3   State 2  111764  111856      93
4   State 2  118079  118179     101
5   State 2  138345  138419      75
6   State 2  154610  157697    3088
7   State 2  157782  159591    1810
8   State 2  186974  187067      94
9   State 2  190831  190907      77
10  State 2  215200  215296      97

1605991210.9428213finished count freq calculation


************** Iteration 7 ************
_______________________________________


***Viterbi time iteration 7 = 11.126879215240479 seconds
Emission Probability

                A         C        G         T
State 1  0.345829  0.153953  0.15749  0.342728
State 2  0.184887  0.312970  0.31780  0.184343

Transition Probability

          State 1   State 2
Begin    0.999900  0.000100
State 1  0.999978  0.000022
State 2  0.002456  0.997544

Log probability of viterbi path=  -2187960.50709
Path = ['State 1', 'State 1', 'State 1', 'State 1', 'State 1']..['State 1', 'State 1', 'State 1', 'State 1', 'State 1']

hits

      state   start     end  length
1   State 2   97326   97541     216
2   State 2   97627   97823     197
3   State 2  111764  111856      93
4   State 2  118079  118179     101
5   State 2  138345  138419      75
6   State 2  154610  157697    3088
7   State 2  157782  159591    1810
8   State 2  186974  187067      94
9   State 2  190831  190907      77
10  State 2  215200  215296      97

1605991222.7210517finished count freq calculation


************** Iteration 8 ************
_______________________________________


***Viterbi time iteration 8 = 13.921736001968384 seconds
Emission Probability

                A         C        G         T
State 1  0.345829  0.153953  0.15749  0.342728
State 2  0.184887  0.312970  0.31780  0.184343

Transition Probability

          State 1   State 2
Begin    0.999900  0.000100
State 1  0.999978  0.000022
State 2  0.002456  0.997544

Log probability of viterbi path=  -2187960.50709
Path = ['State 1', 'State 1', 'State 1', 'State 1', 'State 1']..['State 1', 'State 1', 'State 1', 'State 1', 'State 1']

hits

      state   start     end  length
1   State 2   97326   97541     216
2   State 2   97627   97823     197
3   State 2  111764  111856      93
4   State 2  118079  118179     101
5   State 2  138345  138419      75
6   State 2  154610  157697    3088
7   State 2  157782  159591    1810
8   State 2  186974  187067      94
9   State 2  190831  190907      77
10  State 2  215200  215296      97

1605991237.3430855finished count freq calculation


************** Iteration 9 ************
_______________________________________


***Viterbi time iteration 9 = 12.808486461639404 seconds
Emission Probability

                A         C        G         T
State 1  0.345829  0.153953  0.15749  0.342728
State 2  0.184887  0.312970  0.31780  0.184343

Transition Probability

          State 1   State 2
Begin    0.999900  0.000100
State 1  0.999978  0.000022
State 2  0.002456  0.997544

Log probability of viterbi path=  -2187960.50709
Path = ['State 1', 'State 1', 'State 1', 'State 1', 'State 1']..['State 1', 'State 1', 'State 1', 'State 1', 'State 1']

hits

      state   start     end  length
1   State 2   97326   97541     216
2   State 2   97627   97823     197
3   State 2  111764  111856      93
4   State 2  118079  118179     101
5   State 2  138345  138419      75
6   State 2  154610  157697    3088
7   State 2  157782  159591    1810
8   State 2  186974  187067      94
9   State 2  190831  190907      77
10  State 2  215200  215296      97

1605991250.7977037finished count freq calculation


************** Iteration 10 ************
_______________________________________


***Viterbi time iteration 10 = 15.04250955581665 seconds
Emission Probability

                A         C        G         T
State 1  0.345829  0.153953  0.15749  0.342728
State 2  0.184887  0.312970  0.31780  0.184343

Transition Probability

          State 1   State 2
Begin    0.999900  0.000100
State 1  0.999978  0.000022
State 2  0.002456  0.997544

Log probability of viterbi path=  -2187960.50709
Path = ['State 1', 'State 1', 'State 1', 'State 1', 'State 1']..['State 1', 'State 1', 'State 1', 'State 1', 'State 1']

hits

      state    start      end  length
1   State 2    97326    97541     216
2   State 2    97627    97823     197
3   State 2   111764   111856      93
4   State 2   118079   118179     101
5   State 2   138345   138419      75
6   State 2   154610   157697    3088
7   State 2   157782   159591    1810
8   State 2   186974   187067      94
9   State 2   190831   190907      77
10  State 2   215200   215296      97
11  State 2   227705   227782      78
12  State 2   291972   291997      26
13  State 2   303990   304080      91
14  State 2   358766   358942     177
15  State 2   359974   360046      73
16  State 2   402969   403057      89
17  State 2   412582   412635      54
18  State 2   552537   552862     326
19  State 2   619161   619236      76
20  State 2   637579   638153     575
21  State 2   638334   640132    1799
22  State 2   640217   643449    3233
23  State 2   643500   643767     268
24  State 2   763767   763845      79
25  State 2   764022   764095      74
26  State 2   774708   774788      81
27  State 2   863476   864151     676
28  State 2   873579   873778     200
29  State 2   883675   883755      81
30  State 2   951852   951968     117
31  State 2  1038544  1038622      79
32  State 2  1129124  1129194      71
33  State 2  1150142  1150402     261
34  State 2  1189943  1190054     112
35  State 2  1313165  1313251      87
36  State 2  1659451  1659520      70

Total time taken = 142.05323791503906 seconds