In [1]:
import sys
sys.path.insert(0, '..')
from assignment4.train import *

In [2]:
emmisionP = pd.DataFrame([ [1/6]*6, 
                            [1/10]*5+[1/2] ], 
                            index = ['F','L'], columns = range(1,7))
transitionP = pd.DataFrame([[0.52,0.48],
                            [0.6,0.4], 
                            [0.17, 0.83]], 
                            columns = ['L','F'], index = ['B','L','F'])
sequence = [3,1,6,6,6,4]

k = 10
total_iter = 10
pseudo_count = 0.1

In [3]:

trainer = ViterbiTrain(sequence, emmisionP, transitionP, 'B', pseudo_count)

for i in range(total_iter + 1):
    print(f'\n\n************** Iteration {i} ************')
    print('_______________________________________\n')
    
    path, v_all = trainer.expectation()
    
    trainer.viterbi.print(v_all)
    
    if i < total_iter:
        trainer.maximization(path)

************** Iteration 0 ************
_______________________________________

Emission Probability

          1         2         3         4         5         6
F  0.166667  0.166667  0.166667  0.166667  0.166667  0.166667
L  0.100000  0.100000  0.100000  0.100000  0.100000  0.500000

Transition Probability

      L     F
B  0.52  0.48
L  0.60  0.40
F  0.17  0.83

Log probability of viterbi path=  -12.08492
Path = ['F', 'F', 'L', 'L', 'L', 'F']

hits

  state  start  end  length
1     L      3    5       3

************** Iteration 1 ************
_______________________________________

Emission Probability

          1         2         3         4         5         6
F  0.305556  0.027778  0.305556  0.305556  0.027778  0.027778
L  0.027778  0.027778  0.027778  0.027778  0.027778  0.861111

Transition Probability

         L        F
B  0.52000  0.48000
L  0.65625  0.34375
F  0.50000  0.50000

Log probability of viterbi path=  -8.036
Path = ['F', 'F', 'L', 'L', 'L', 'F']

hits

  state  start  end  length
1     L      3    5       3

************** Iteration 2 ************
_______________________________________

Emission Probability

          1         2         3         4         5         6
F  0.305556  0.027778  0.305556  0.305556  0.027778  0.027778
L  0.027778  0.027778  0.027778  0.027778  0.027778  0.861111

Transition Probability

         L        F
B  0.52000  0.48000
L  0.65625  0.34375
F  0.50000  0.50000

Log probability of viterbi path=  -8.036
Path = ['F', 'F', 'L', 'L', 'L', 'F']

hits

  state  start  end  length
1     L      3    5       3

************** Iteration 3 ************
_______________________________________

Emission Probability

          1         2         3         4         5         6
F  0.305556  0.027778  0.305556  0.305556  0.027778  0.027778
L  0.027778  0.027778  0.027778  0.027778  0.027778  0.861111

Transition Probability

         L        F
B  0.52000  0.48000
L  0.65625  0.34375
F  0.50000  0.50000

Log probability of viterbi path=  -8.036
Path = ['F', 'F', 'L', 'L', 'L', 'F']

hits

  state  start  end  length
1     L      3    5       3

************** Iteration 4 ************
_______________________________________

Emission Probability

          1         2         3         4         5         6
F  0.305556  0.027778  0.305556  0.305556  0.027778  0.027778
L  0.027778  0.027778  0.027778  0.027778  0.027778  0.861111

Transition Probability

         L        F
B  0.52000  0.48000
L  0.65625  0.34375
F  0.50000  0.50000

Log probability of viterbi path=  -8.036
Path = ['F', 'F', 'L', 'L', 'L', 'F']

hits

  state  start  end  length
1     L      3    5       3

************** Iteration 5 ************
_______________________________________

Emission Probability

          1         2         3         4         5         6
F  0.305556  0.027778  0.305556  0.305556  0.027778  0.027778
L  0.027778  0.027778  0.027778  0.027778  0.027778  0.861111

Transition Probability

         L        F
B  0.52000  0.48000
L  0.65625  0.34375
F  0.50000  0.50000

Log probability of viterbi path=  -8.036
Path = ['F', 'F', 'L', 'L', 'L', 'F']

hits

  state  start  end  length
1     L      3    5       3

************** Iteration 6 ************
_______________________________________

Emission Probability

          1         2         3         4         5         6
F  0.305556  0.027778  0.305556  0.305556  0.027778  0.027778
L  0.027778  0.027778  0.027778  0.027778  0.027778  0.861111

Transition Probability

         L        F
B  0.52000  0.48000
L  0.65625  0.34375
F  0.50000  0.50000

Log probability of viterbi path=  -8.036
Path = ['F', 'F', 'L', 'L', 'L', 'F']

hits

  state  start  end  length
1     L      3    5       3

************** Iteration 7 ************
_______________________________________

Emission Probability

          1         2         3         4         5         6
F  0.305556  0.027778  0.305556  0.305556  0.027778  0.027778
L  0.027778  0.027778  0.027778  0.027778  0.027778  0.861111

Transition Probability

         L        F
B  0.52000  0.48000
L  0.65625  0.34375
F  0.50000  0.50000

Log probability of viterbi path=  -8.036
Path = ['F', 'F', 'L', 'L', 'L', 'F']

hits

  state  start  end  length
1     L      3    5       3

************** Iteration 8 ************
_______________________________________

Emission Probability

          1         2         3         4         5         6
F  0.305556  0.027778  0.305556  0.305556  0.027778  0.027778
L  0.027778  0.027778  0.027778  0.027778  0.027778  0.861111

Transition Probability

         L        F
B  0.52000  0.48000
L  0.65625  0.34375
F  0.50000  0.50000

Log probability of viterbi path=  -8.036
Path = ['F', 'F', 'L', 'L', 'L', 'F']

hits

  state  start  end  length
1     L      3    5       3

************** Iteration 9 ************
_______________________________________

Emission Probability

          1         2         3         4         5         6
F  0.305556  0.027778  0.305556  0.305556  0.027778  0.027778
L  0.027778  0.027778  0.027778  0.027778  0.027778  0.861111

Transition Probability

         L        F
B  0.52000  0.48000
L  0.65625  0.34375
F  0.50000  0.50000

Log probability of viterbi path=  -8.036
Path = ['F', 'F', 'L', 'L', 'L', 'F']

hits

  state  start  end  length
1     L      3    5       3

************** Iteration 10 ************
_______________________________________

Emission Probability

          1         2         3         4         5         6
F  0.305556  0.027778  0.305556  0.305556  0.027778  0.027778
L  0.027778  0.027778  0.027778  0.027778  0.027778  0.861111

Transition Probability

         L        F
B  0.52000  0.48000
L  0.65625  0.34375
F  0.50000  0.50000

Log probability of viterbi path=  -8.036
Path = ['F', 'F', 'L', 'L', 'L', 'F']

hits

  state  start  end  length
1     L      3    5       3